
        h1 {
            color: #FAEBD7;
        }  
        
        body {
            background-color: #5F9EA0;
        }
        
        #buttons1 { width: 600px;}

        #but-td { width: 200px;
                text-align:center;
        }
       
        #body1 {
                width: 600px;
                text-align:center;
        }


                      
                
                
