		.one {
		display:flex;
		padding: 10px;
		justify-content: space-around;
		}

		.two {
		display:flex;
		padding: 10px;
		justify-content: space-around;
		margin-right: 30px;
		margin-left: 30px;
		}

		.coduri {
			display:flex;
			padding: 20px;
			justify-content: space-around;
			margin-right: 30px;
			margin-left: 30px;
		}

		.cod1 {
			transition: 0.7s;
		}

		.uri1 {
			transition: 0.7s;
		}

	  h1 {
		font-family: Rockwell, Arial;
		font-weight: 900;
		line-height: 40px;
		font-size: 50px;
            	color: #191970;
		margin-left: 20px;
        }  
        
        body {
            background-color: #000000;
		margin: auto;
		overflow: auto;
        }

	
        #but-td { width: 266.67px;
                text-align:center;
		transition: 0.7s;
        }
       
        #body1 {
                width: 800px;
                margin: auto;
		background-color: #87CEEB;
		height: 150vh;
        }

        p { 
		font-family: Arial, Helvetica;
		color: #000000;
		margin-left: 20px;
		}

	#body2 {  
		width: 800px;
            margin: auto;
		background-color: #87CEEB;
		overflow: auto;
		}

	#but-td:hover{
		transform: scale(1.1);
	}

	.cod1:hover {
		transform: scale(0.9);
	}

	.uri1:hover {
		transform: scale(0.9);
	}
