
        h1 {
            color: #32CD32;
        }  
        
        body {
            background-color: #000000;
        }
        
        #buttons1 { width: 800px;}

        #but-td { width: 266.67px;
                text-align:center;
        }
       
        #body1 {
                width: 800px;
                margin: auto;
        }

        p { color: #FFFFFF;}


                      
                
                
